.qr_message {
    width: 100%;
    border: 1px solid var(--border);
    background-color: var(--accent);
    padding: 0.6em;
    border-radius: 0.6em;
    font-size: 1.2em;
    text-align: center;
    color: var(--text-primary);

    animation-name: show_message;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;

    position: relative;
    z-index: 1;

}

.qr_message button{
    background-color: var(--background);
}

/*.qr_message button:hover{*/
/*    box-shadow: 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover), 0 0 10px var(--accent-hover),  0 0 10px var(--accent-hover) ;*/
/*    transform: scale(0.92);*/
/*}*/

@keyframes show_message {
    0%{
        opacity: 0;
        transform:translateY(-600px);
    }
    15%{
        opacity: 1;
        transform: scale(1.5);
    }
    100%{
        opacity: 1;
        transform:translateY(0);
    }

}