.name {
    color: var(--text-primary);
    text-align: center;
}

.wrapper_img {
    width: 100%;
    height: 20vh;
    text-align: center;
}

.wrapper_img img {
    max-width: 100%;
    height: 100%;
    background-color: beige;
    border-radius: 1em;
    border: 1px solid var(--border);
    object-fit: cover;


}
